img.img-slideshow {
    height: 500px;
    object-position: 0 30%;
    object-fit: cover;
}

.twitter-tweet, .twitter-tweet-rendered {
    margin: auto !important;
}

.tweet-slides {
    height: 300px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
 /* html5-main-video */
iframe.vid-frame {
    width:560px;
    height:315px;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
